@import 'mixins';

.boxGallery {
    @include breakpoint('xs') {
        display: flex;
        padding-bottom: 3rem;
    }
}

.divOuterCarousel {
    @include breakpoint('xs') {
        overflow: hidden;
    }
}

.divInnerCarousel {
    @include breakpoint('xs') {
        display: flex;
        width: 80%;
    }
}

.divItem {
    @include breakpoint('xs') {
        min-height: 20rem;
        min-width: 15rem;
        padding: 20px;
    }
}

.divItem img {
    @include breakpoint('xs') {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
    }
}