@import 'mixins';

.boxProjects {
    @include breakpoint('xs') {
        padding-bottom: 3rem;
    }
}

.cardProject {
    @include breakpoint('xs') {
        color: var(--color-text);
        background: var(--color-primary);
        box-shadow: none;
        border-radius: 15px;
        &:hover {
            background-color: var(--color-secondary);
            box-shadow: 0px 2px 0px var(--color-accent) !important;
            color: var(--color-accent);
        }
    }
}

.typographyTitle {
    @include breakpoint('xs') {
        font-size: 1.5rem !important;
        padding-bottom: 1rem;
    }
}

.typographyDescription {
    @include breakpoint('xs') {
        font-size: 1rem !important;
        color: var(--color-text);
    }
}

.typographyProjects {
    @include breakpoint('xs') {
        font-size: 3rem !important;
        padding-bottom: 1rem;
    }
}